<nav class="navigation" role="navigation">
  <div class="header-layout" [routerLink]="['/home']">EASY PLANNER</div>
  <ng-container *ngIf="loginState$ | async as loginstate">
    <ul *ngIf="loginstate.isLoggedIn && (this.showContainer$ | async)" class="ul-list">
      <li class="item" (click)="isImpressOpen = !isImpressOpen">
        <i class="tim-icons icon-atom"></i>
      </li>
      <li class="item dropdown dropdown-toggle dropdown-toggle" dropdown data-toggle="dropdown" dropdownToggle
          id="dropdownMenuLink">
        <i class="tim-icons icon-single-02"></i>
        <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
          <a class=" dropdown-item">
            Profil
          </a>
          <a class=" dropdown-item">
            Meine Einkäufe
          </a>
          <a class=" dropdown-item">
            Märkte
          </a>
          <a class=" dropdown-item" [routerLink]="['social-group']">
            Gruppen verwalten
          </a>
          <a class=" dropdown-item" (click)="onLogout()">
            Ausloggen
          </a>
        </div>
      </li>
    </ul>
    <div class="btn-auth-container" *ngIf="!loginstate.isLoggedIn">
      <div class="btn-button btn-register" [routerLink]="['./auth/register']">REGISTRIEREN</div>
      <div class="btn-button left" [routerLink]="['./auth/login']">LOGIN</div>
    </div>
  </ng-container>
</nav>
<div class="container container-sm container-md container-lg container-xl container-xxl width-container">
  <div class="impress-container" *ngIf="isImpressOpen">
    <app-impresum (closeModal)="isImpressOpen=$event"></app-impresum>
  </div>
  <app-loading *ngIf="isLoading$ | async"></app-loading>
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="toastMessage$ | async as toasmessage">
  <alert [type]="'primary'" style="bottom: 0; position: absolute; right: 10px">
    {{toasmessage.message}}
  </alert>
</ng-container>

