<nav class="navigation" role="navigation">
  <h2 [routerLink]="['/home']">HOME PLANNER</h2>
  <ng-container *ngIf="loginState$ | async as loginstate" >
    <ul *ngIf="loginstate.isLoggedIn" class="ul-list">
      <li class="item" (click)="isImpressOpen = !isImpressOpen">
        <i class="tim-icons icon-atom"></i>
      </li>
      <li class="item dropdown dropdown-toggle dropdown-toggle" dropdown data-toggle="dropdown" dropdownToggle
          id="dropdownMenuLink">
        <i class="tim-icons icon-single-02"></i>
        <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">
          <a class=" dropdown-item">
            Profil
          </a>
          <a class=" dropdown-item" href="#">
            Meine Einkäufe
          </a>
          <a class=" dropdown-item" href="#">
            Märkte
          </a>
          <a class=" dropdown-item" [routerLink]="['social-group']">
            Gruppen verwalten
          </a>
          <a class=" dropdown-item" (click)="onLogout()">
            Ausloggen
          </a>
        </div>
      </li>
    </ul >
    <div class="btn-auth-container" *ngIf="!loginstate.isLoggedIn">
     <div class="btn-button" [routerLink]="['./auth/register']">REGISTRIEREN</div>
     <div class="btn-button" [routerLink]="['./auth/login']">LOGIN</div>
    </div>
  </ng-container>
</nav>
<div class="container">
  <div class="impress-container" *ngIf="isImpressOpen">
    <app-impresum (closeModal)="isImpressOpen=$event"></app-impresum>
  </div>
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="toastMessage$ | async as toasmessage">
  <alert [type]="'primary'" style="bottom: 0; position: absolute; right: 10px">
    {{toasmessage.message}}
  </alert>
</ng-container>
