.animation-container {
  position: absolute;

  .girl {
    position: absolute;
    left: 40%;
    bottom: 1%;
  }
  .text {
    position: absolute;
    left:60%;
    width: 100px;
    margin-top: 2px;
    color: white;
  }
}
