<div class="mobile-container"></div>
<div class="btn-container">
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;HOME&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;HOME&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Profil&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Profil&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Meine Einkäufe&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Meine Einkäufe&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Märkte&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Märkte&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Gruppen verwalten&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Gruppen verwalten&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized" (click)="onLogout()">
    <span class="actual-text">&nbsp;Ausloggen&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Ausloggen&nbsp;</span>
  </button>
</div>

<!--<li class="item" (click)="isImpressOpen = !isImpressOpen">-->
<!--  <i class="tim-icons icon-atom"></i>-->
<!--</li>-->
<!--<li class="item dropdown dropdown-toggle dropdown-toggle" dropdown data-toggle="dropdown" dropdownToggle-->
<!--    id="dropdownMenuLink">-->
<!--  <i class="tim-icons icon-single-02"></i>-->
<!--  <div class=" dropdown-menu" *dropdownMenu aria-labelledby="dropdownMenuLink">-->
<!--    <a class=" dropdown-item">-->
<!--      Profil-->
<!--    </a>-->
<!--    <a class=" dropdown-item" href="#">-->
<!--      Meine Einkäufe-->
<!--    </a>-->
<!--    <a class=" dropdown-item" href="#">-->
<!--      Märkte-->
<!--    </a>-->
<!--    <a class=" dropdown-item" [routerLink]="['social-group']">-->
<!--      Gruppen verwalten-->
<!--    </a>-->
<!--    <a class=" dropdown-item" (click)="onLogout()">-->
<!--      Ausloggen-->
<!--    </a>-->
<!--  </div>-->
<!--</li>-->
