<div class="mobile-container"></div>
<div class="btn-container">
  <button data-text="Awesome" class="button btn-customized" [routerLink]="'/home'">
    <span class="actual-text">&nbsp;HOME&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;HOME&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized" [routerLink]="'/profile'">
    <span class="actual-text">&nbsp;Profil&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Profil&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Meine Einkäufe&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Meine Einkäufe&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Märkte&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Märkte&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized">
    <span class="actual-text">&nbsp;Gruppen verwalten&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Gruppen verwalten&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized" (click)="isImpressOpen = !isImpressOpen">
    <span class="actual-text">&nbsp;Impresum&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Impresum&nbsp;</span>
  </button>
  <button data-text="Awesome" class="button btn-customized" (click)="onLogout()">
    <span class="actual-text">&nbsp;Ausloggen&nbsp;</span>
    <span class="hover-text" aria-hidden="true">&nbsp;Ausloggen&nbsp;</span>
  </button>
</div>
<div *ngIf="isImpressOpen" style="height:400px; background-color: #000802;opacity: .5"></div>
<div *ngIf="!isImpressOpen" class="impresum-mobile"  style="height:400px; background-color: #000802;opacity: .5">
  <div>Hersteller Miguel Gutierrez</div>
  <div>Wohnhaft in:</div>
  <div>Straße: Im Rittersloch 12</div>
  <div>Stadt: Schaafheim </div>
</div>
